.titleContainer {
    margin-left: 5%;
    max-width: 100%;
    padding: 5% 1%;
    margin-top:0;
}

#title {
    display: inline-block;
    padding-left : 5px ;
    border-left:5px solid transparent;
    transition: 0.3s;
    margin-bottom: 1.5em;
    margin-top:0;
}

#title:hover {
    border-left:5px solid black;
}

.title_nav {
    margin-bottom: 20px;
    transition: 0.3s;
}

.shader {
    display: none;
}

nav {
    margin-bottom:1%; 
}

nav a {
    margin-left:1%;
    margin-right:1%;
    box-shadow: none;
    transition:0.3s;
    font-weight: 900;
    font-size: 1.2em;
}

nav a:hover  {
    box-shadow: 0 1px 0 0 currentColor;
}

#closeNav {
    display: none;
}

#openNav {
    display: none;
}

#container {
    width:100%;
    margin-bottom:5%;
}

#container, main, aside {
    float:left;
}

hr {
    height:2px;
}

main {
    margin-left:5%;
    width: 65%;
    min-width: 65%;
}

aside {
    width: 25% ;
    height:auto;
    padding: 40px;
    background-color:#ececec;
    margin-left:5%;
    border-radius:5px;
}

aside h4 {
    margin-top:0;
}

.side_menu_links {
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    display:block;
}

.tags_container {
    width: 100%;
    margin-bottom: 20px;
}

.attributes {
    text-align: center;
    display: block;
    font-size: 14px;
}

.postDate {
    color: rgba(0, 0, 0, 0.459);
    font-weight: 900;
}

.tags {
    display: inline-block;
    font-size:14px;
    margin-right: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding:5px 10px;
    margin-bottom:10px;
    box-shadow: 0px 1px 3px grey;
}

main ul {
    margin-left:5%;
}

.page_title {
    margin-top: -1%;
    text-align: center;
    margin-bottom: 10%;
}

.page_title span{
    background-color:rgb(228, 228, 228);
    padding:1% 5%;
    border-radius: 10px;
}

article header {
    margin-bottom: 5%;
}

article header h2{
    margin-top: 50px;
    margin-bottom: 0;
}

article header p{
    display: block;
    margin-top: 10px;
    margin-bottom: 5%;
}

article hr {
    margin-bottom: 5%;
}

p {
    text-align: justify ;
}

.socialMedias{
    box-shadow: none;
    margin-left:1%;
    padding-bottom: 10px;
    transition:0.3s;
    transform: scale(10);
}

.socialMedias:hover {
    position: relative;
    transform: scale(1.5);
    background-image: radial-gradient(rgb(168, 168, 168) 20%, white 50%,white 30%);
}

.headerImg {
    max-width: 100%;
    max-height: 40%;
}

.card {
    border:1px solid grey;
    padding: 20px;
    margin-bottom:20px;
}

.card header {
    margin-bottom: 20px;
}

.card header h3 {
    margin-bottom: 2%;
}

.card header small {
    font-weight: 900;
}

.flex{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    min-width:250px;
    max-width: 350px;
}

.blog-card {
    max-width:100%;
}

.blog-card h3{
    margin-top: 2.1rem;
}

.postThumbnail {
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

.post-navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.post-navigation li{
    max-width:300px;
}

.footer_nav {
    margin-left:-5%;
    margin-top:5%;
    text-align: center;
}

.footer_nav a:hover {
    box-shadow: none;
}

.footer_page_nav {
    margin-left:2%;
    margin-right:2%;
}

.footer_page_nav a {
    color: rgb(163, 163, 163);
}

footer {
    display:block;
    margin-top:2%;
    margin-bottom:-5%;
}

@media only screen and (max-width: 1100px) {
    main {
        width: 55%;
        min-width: 55%;
    }
    
    aside {
        width: 35% ;
    }
}


