#title {
    display: inline-block;
    padding-left : 5px ;
    border-left:5px solid transparent;
    transition: 0.3s;
}

#title:hover {
    border-left:5px solid black;
}

#container {
    width:100%;
    margin-bottom:5%;
}

#container, main, aside {
    float:left;
}

hr {
    height:2px;
}

main {
    margin-left:10%;
    width: 60%;
    min-width: 60%;
}

aside {
    width: 25% ;
    height:80vh;
    padding: 40px;
    background-color:#E5E5E5;
    margin-left:5%;
    border-radius:5px;
}

aside h4 {
    margin-top:0;
}

main ul {
    margin-left:5%;
}

nav {
    margin-bottom:1%; 
}

nav a {
    margin-left:2%;
    box-shadow: none;
    transition:0.3s;
    font-weight: 900;
    font-size: 18px;
}

nav a:hover  {
    box-shadow: 0 1px 0 0 currentColor;
}

p {
    text-align: justify ;
}

footer {
    margin-top:5%;
    text-align: center;
}